*{
    margin: 0;padding: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    padding: 20px 50px;

}
.logo{
    height: 20px;
    
}
.nav-button{
    height:30px;
    width: 70px;
    font-size: 14px;
    font-weight: 600; 
    border: none;
    background: none; 
    border-radius: 10px;
    color: grey;
}
.main-banner{
    background-image:url(./assets/main-banner.jpg);
    /* height: 90%;
    width: 100%; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 50px;
}
.first{
    font-size: 10px;
    font-weight: 600;
    color: #1ce783;
    margin-top: 50px;
    font-family: "Graphik Web", sans-serif;
    
}
.disney{
    height: 70px;
    margin-top: 10px;
}
.second{
    font-size: 48px;
    font-weight: 600;
    color:white;
    margin-top: 16px;
    font-family: Graphik Web, Graphik, sans-serif;
    text-align: center;
}
.third{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: 16px;
    font-family: Graphik Web, Graphik, sans-serif;
    text-align: center;
}
.main-banner-btn{
    font-size: 14px;
    font-weight: 600;
    color:black;
    width: 50%;
    height: 48px;
    background-color: #1ce783;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.fourth{
    color: #8a9394;
    text-align: center;
    font-size: 10px;
    margin-top: 16px;
    font-family: Graphik Web, Graphik, sans-serif;
    font-weight: 400;
    
}
.transparent{
    width: 95%;
    background-color:rgba(0, 0, 0, 0.688);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 100px;
    
}
.first-div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.t1disney-max{
    height: 30px;
    

}
.second-div{
    display: flex;
    flex-direction: column;
}
.t1-heading{
    color: #1ce783;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    font-family: "Graphik Web", sans-serif;

    
}
.t2-heading{ 
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Graphik Web", sans-serif;

}
.t3-heading{
    font-size: 10px;
    color: white;
    font-family: "Graphik Web", sans-serif;
}
.third-div{
    display: flex;
    align-items: centre;
    flex-direction: column;
   

}
.t-btn{
    width: 150px;
    height: 50px;
    background-color: #1ce783;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: none;

}
.t4-heading{
    font-size: 10px;
    color: white;
    text-align: center;
    margin-top: 5px;
    font-family: "Graphik Web", sans-serif;
}
.black-div1{
    width:100vw;
    /* padding-bottom: 100%; */
    background-color:#0B0C0F;
    display: flex;
    padding-top: 80px;
    flex-direction: column;
}
.bdt1{
    font-size: 12px;
    font-weight:500;
    font-family: "Graphik Web", sans-serif;
    color: #1ce783;
    text-align: center;
}
.bdt2{
    font-size: 48px;
    font-weight: 600;
    font-family: "Graphik Web", sans-serif;
    color: white; 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.bdt3{
    font-size: 16px;
    font-weight: 400;
    font-family: "Graphik Web", sans-serif;
    color: white;
    text-align: center;
}
.movies{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.movie-box{
    width: 230px;
    height: 400px;
    /* background-color: #1ce783; */
    background-size: cover;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 28px;
    background-position: bottom;
}
.movie-box1{
    background-image: url(./assets/movie1.jpg);
}
.movie-box2{

    background-image: url(./assets/movie2.jpg);

}
.movie-box3{
    background-image: url(./assets/movie3.jpg);
}
.movie-box4{
    background-image: url(./assets/movie4.jpg);
}
.movie-box h3{
    font-size: 12px;
    font-weight: 500;
    font-family: Graphik Web, Graphik, sans-serif;   

}
.movie-box h1{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    font-family: Graphik Web, Graphik, sans-serif; 

}
.movie-box-endtext{
    font-size: 10px;
    font-weight: 400;
    font-family: "Graphik Web", sans-serif;
    color:grey;
    text-align: end;
    margin-top: 20px;
    margin-right: 30px;
}
.hulu-desciption{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hulu-d1{
    color: #1ce783;
    font-size: 14px;
    font-weight: 500;
    margin-top: 80px;
}
.hulu-d2{
    font-size: 48px;
    font-weight: 600;
    color: white;
    margin-top: 16px;
    font-family:Web, Graphik, sans-serif;
}
.hulu-d3{
    font-size: 18px;
    font-weight: 400;
    font-family:Web, Graphik, sans-serif;
    color: white;
    text-align: center;
    margin-top: 30px;
}
.hulu-dbtn{
    background-color: #1ce783;
    color: black;
    font-size: 14px;
    font-weight: 600;
    font-family:Web, Graphik, sans-serif;
    height: 50px;
    width: 250px;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    
}
.hulu-d4{
    font-size: 10px;
    font-weight: 400;
    font-family:Web, Graphik, sans-serif;
    color:grey;
    margin-top: 15px;
    text-align: center;

}
.hulu-d5{
    font-size: 16px;
    font-weight: 600;
    font-family:Web, Graphik, sans-serif;
    color: white;
    margin-top: 30px;
}
.roabot-wallpaper{
    height: 800px;
    width: 100%;
    background-size: cover;
    background-image: url(./assets/roabot\ wallpaper.jpg);
    margin-top: 50px;
    
}
.rw-nav{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    /* background-color: #1ce783; */
    margin-left: 150px;
}
.rw-nav-btn{
    width: 30%;
    font-size: 12px;
    font-weight: 800;
    font-family: Graphik Web, Graphik, sans-serif; 
    color: white;
    background: none;
    border: none;
    border-bottom: 5px solid white;
    /* margin-top: 10PX; */
}
.rw-text{
    width: 50%;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;

}
.rw-text h1{
    color: white;
    margin-top: 30px;
    margin-left: 150px;
    font-size: 48px;
    font-weight: 600;
    font-family: "Graphik Web", sans-serif;
}
.rw-text h3{
    font-size: 16px;
    font-weight: 400;
    font-family: "Graphik Web", sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    margin-left: 150px;
}
.rw-icons{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    gap: 20px;
}
.circle-icon{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    height: 30px;
}
.rw-end-text{
    color:rgb(222, 216, 216);
    font-size: 14px;
    font-weight: 400;
    margin-left: 150px;
    font-family: "Graphik Web", sans-serif;
    margin-top: 30px;

}
.hulu-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position:relative; */
    /* top: auto; */
}
.hs-1{
    color: white;
    font-size: 48px;
    font-weight: 600;
    font-family: "Graphik Web", sans-serif;
    margin-top: 80px;

}
.hs-2{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    color: white;
    text-align: center;
}
.hs-disney-btn{
    font-size: 14px;
    font-weight: 600;
    font-family: "Graphik Web", sans-serif;
    height: 40px;
    width: 20%;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
    gap: 30px;

}
.dropdown-arrow{
    height: 7px;
    gap: 30px;
    
}
.hs-offer-btn{
    height: 25px;
    width: 13%;
    background-color: #1ce783;
    color: black;
    margin-top: 30px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 100px;
    font-family: "Graphik Web", sans-serif;

}
.division{
    width: 80%;
    /* height: 30%; */
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content:space-between;
    /* gap: 20px; */
    /* margin-left: 150px; */
    background-color:#0b0c0f;
    position: sticky;
    top:0;

}
.division1{
    width: 25%;
}
.division2{
    width: 25%;
}
.division3{
    width: 25%;
    
}
.div-img{
    margin-top: 30px;
    height:30px;
     display: flex;
     align-items: center;
     justify-content: center;

}
.div-h5{
    font-size: 12px;
    font-weight: 500;
    font-family: Graphik Web, Graphik, sans-serif;
    color: white;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;

}
.div-btn{
    background-color: white;
    color:black;
    height: 50px;
    width: 300px;
    font-size: 14px;
    font-weight: 600;
    font-family: Graphik Web, Graphik, sans-serif;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
.div-h6{
    font-size: 10px;
    font-family: Graphik Web, Graphik, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}
.hulu-channel-d1{
    height: 70px;
    width: 1000px;
    margin-top: 30px;
    border-top: 1px solid grey;
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
}
.hulu-channel-d2{
    height: 70px;
    width: 1000px;
    /* margin-top: 30px; */
    border-top: 1px solid grey;
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white; 
    font-size: 14px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
}
.hulu-channel-d3{
    height: 70px;
    width: 1000px;
    /* margin-top: 30px; */
    border-top: 1px solid grey;
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white; 
    font-size: 14px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
}
.hulu-channel-d4{
    height: 70px;
    width: 1000px;
    /* margin-top: 30px; */
    border-top: 1px solid grey;
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white; 
    font-size: 14px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
}
.hulu-channel-d5{
    height: 70px;
    width: 1000px;
    /* margin-top: 30px; */
    border-top: 1px solid grey;
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white; 
    font-size: 14px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
}
.hulu-channel-d6{
    height: 70px;
    width: 1000px;
    /* margin-top: 30px; */
    border-top: 1px solid grey;
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white; 
    font-size: 14px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
}
.hulu-channel-d7{
    height: 70px;
    width: 1000px;
    /* margin-top: 30px; */
    border-top: 1px solid grey;
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white; 
    font-size: 14px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
}
.hulu-channel-d8{
    height: 70px;
    width: 1000px;
    /* margin-top: 30px; */
    border-top: 1px solid grey;
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white; 
    font-size: 14px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
}
.hulu-channel-d9{
    height: 70px;
    width: 1000px;
    /* margin-top: 30px; */
    border-top: 1px solid grey;
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white; 
    font-size: 14px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
}
.hulu-channel-d10{
    height: 70px;
    width: 1000px;
    /* margin-top: 30px; */
    border-top: 1px solid grey;
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white; 
    font-size: 14px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
}
.hulu-channel-dend{
    font-size: 10px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
    color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 150px;
    width: 1000px;
    margin-top: 10px;
    /* text-align: center; */
    padding-top: 10px;
}
.hulu-channel-adds{
    height: 50px;
    width: 1000px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: Graphik Web, Graphik, sans-serif;
    padding-top: 25px; 
    color: white;
    border-bottom: 1px solid grey;
    gap: 15px;
    
    
}
.footer-main-div{
    height:100vh;
    width: 100vw;
    background-color:#ffffff;
    padding-left:150px;
    padding-right: 150px;
    padding-top: 50px;
}
.ul-div{
    width: 80%;
    /* height: 50%; */
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-between; */
}
.ulA{
    display: flex;
    flex-direction: column;
    color: grey;
    font-family: "Graphik Web", sans-serif;
    font-size: 14px;
    font-weight: 400;
    gap: 15px;
}
.ulA-browse{
    font-size: 12px;
    font-weight: 600;
    font-family: "Graphik Web", sans-serif;
    color:#272c34;

}
.ulB{
    display: flex;
    flex-direction: column;
    color: grey;
    font-family: "Graphik Web", sans-serif;
    font-size: 14px;
    font-weight: 400;
    gap: 15px;
    padding-left: 50PX;
    padding-top: 20px;
}
.ulC{
    display: flex;
    flex-direction: column;
    color: grey;
    font-family: "Graphik Web", sans-serif;
    font-size: 14px;
    font-weight: 400;
    gap: 15px;
    padding-left: 80PX;
    padding-top: 20px;
}
.ulD{
    display: flex;
    flex-direction: column;
    color: grey;
    font-family: "Graphik Web", sans-serif;
    font-size: 14px;
    font-weight: 400;
    gap: 15px;
    padding-left: 60PX;
    padding-top: 20px;
}
.ulE{
    display: flex;
    flex-direction: column;
    color: grey;
    font-family: "Graphik Web", sans-serif;
    font-size: 14px;
    font-weight: 400;
    gap: 15px;
    padding-left: 60PX;
    /* padding-top: 20px; */
}
.ulE-help{
    font-size: 12px;
    font-weight: 600;
    font-family: "Graphik Web", sans-serif;
    color:#272c34;
 
}
.ulF{
    display: flex;
    flex-direction: column;
    color: grey;
    font-family: "Graphik Web", sans-serif;
    font-size: 14px;
    font-weight: 400;
    gap: 15px;
    padding-left: 60PX;
    /* padding-top: 20px; */
}
.ulF-about{
    font-size: 12px;
    font-weight: 600;
    font-family: "Graphik Web", sans-serif;
    color:#272c34;
 
}
.ul-icon-div{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding-top: 50px;
    /* height: 80px; */
    border-top: 2px solid #e8eaed;
    gap: 25px;
    width: 80%;
}
.page-end{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
    font-family: "Graphik Web", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #8a9394;
}


